// COLORS
$background: #ffffff;
$darkOrange: #ca653a;
$lightOrange: #f94a1d;
$darkGreen: #0e2c07;
$purple: #262c4a;
$black: #000000;
$white: #e4e4e4;
$grey: #2f2c2c;

// SPACING
$base-padding: 5px;
$base-margin: 5px;

// BORDERS
$base-border-thickness: 1px;
$base-border-radius: 20px;

// FONTS
$font-size-sm: 10px;
$base-font-size: 16px;
$font-size-lg: 24px;
$font-size-xl: 36px;
$font-size-xxl: 48px;

