@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: white;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  width: 100vw;
}

.home,
.about,
.projects {
  min-height: 100vh;
  height: fit-content;
}

#root {
  overflow: hidden;
  width: 100vw;
}

.box-shadow {
  box-shadow: 0px 6px 15px -10px #000000;
}

.overflow-hidden {
  overflow: hidden;
}

.m-auto {
  margin: 0 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-one {
  flex: 1;
}

.row-reverse {
  flex-direction: row-reverse;
}

.font-karla {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.font-lato {
  font-family: "Lato", sans-serif !important;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex-order-1 {
  order: 1;
}

.flex-order-2 {
  order: 2;
}

.flex-order-3 {
  order: 3;
}

.flex-order-4 {
  order: 4;
}

.flex-order-5 {
  order: 5;
}

.flex-order-6 {
  order: 6;
}

.flex-order-7 {
  order: 7;
}

.flex-order-8 {
  order: 8;
}

.flex-order-9 {
  order: 9;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 20px;
}

.p-4 {
  padding: 30px;
}

.p-5 {
  padding: 40px;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 20px;
}

.pt-4 {
  padding-top: 30px;
}

.pt-5 {
  padding-top: 40px;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 20px;
}

.pr-4 {
  padding-right: 30px;
}

.pr-5 {
  padding-right: 40px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 20px;
}

.pb-4 {
  padding-bottom: 30px;
}

.pb-5 {
  padding-bottom: 40px;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 20px;
}

.pl-4 {
  padding-left: 30px;
}

.pl-5 {
  padding-left: 40px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 40px;
}

.m-4 {
  margin: 60px;
}

.m-5 {
  margin: 80px;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 40px;
}

.mt-4 {
  margin-top: 60px;
}

.mt-5 {
  margin-top: 80px;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 40px;
}

.mr-4 {
  margin-right: 60px;
}

.mr-5 {
  margin-right: 80px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 40px;
}

.mb-4 {
  margin-bottom: 60px;
}

.mb-5 {
  margin-bottom: 80px;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 40px;
}

.ml-4 {
  margin-left: 60px;
}

.ml-5 {
  margin-left: 80px;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br-default {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-md {
  border-radius: 40px;
}

.br-lg {
  border-radius: 50%;
}

.font-sm {
  font-size: 10px;
}

.font-md {
  font-size: 16px;
}

.font-lg {
  font-size: 24px;
}

.font-xl {
  font-size: 36px;
}

.font-xxl {
  font-size: 48px;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-static {
  position: static;
}

.pos-fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.top-25 {
  top: 25%;
}

.top-50 {
  top: 50%;
}

.top-75 {
  top: 75%;
}

.top-100 {
  top: 100%;
}

.right-0 {
  right: 0;
}

.right-25 {
  right: 25%;
}

.right-50 {
  right: 50%;
}

.right-75 {
  right: 75%;
}

.right-100 {
  right: 100%;
}

.left-0 {
  left: 0;
}

.left-25 {
  left: 25%;
}

.left-50 {
  left: 50%;
}

.left-75 {
  left: 75%;
}

.left-100 {
  left: 100%;
}

.bottom-0 {
  bottom: 0;
}

.bottom-25 {
  bottom: 25%;
}

.bottom-50 {
  bottom: 50%;
}

.bottom-75 {
  bottom: 75%;
}

.bottom-100 {
  bottom: 100%;
}

@media screen and (max-width: 920px) {
  /*Navbar*/
  .navbar {
    flex-direction: column;
  }
  .navbar .mobile-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .menu-icon {
    display: inline-block;
  }
  .navbar .menu-icon:hover {
    background-color: #f94a1d;
    color: white;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
  }
  .navbar .links {
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #f94a1d;
  }
  .navbar .links a {
    width: 100%;
    text-align: center;
  }
  .navbar .mobile-menu-open {
    position: absolute;
    top: 0px;
    padding-top: 60px;
    width: 100%;
    background-color: black;
    transition: transform 0.5s ease-in-out;
  }
  .navbar .mobile-menu-close {
    position: absolute;
    top: 0px;
    padding-top: 0px;
    transform: translateY(-250px);
    width: 100%;
    background-color: black;
    transition: transform 0.5s ease-in-out;
  }

  /*Home*/
  .home .orange-square {
    display: none;
  }
  .home .orange-feature {
    width: 350px;
    height: 350px;
  }
  .home .white-circle {
    width: 280px;
    height: 280px;
  }
  .home .grey-circle {
    width: 240px;
    height: 240px;
  }
  .home .w-40 {
    width: 60%;
    padding-top: 90px;
  }

  /*Projects*/
  .projects {
    padding-top: 60px;
  }
  .projects .project-selector {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .projects .project-selector h2 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 750px) {
  /*Home*/
  .home {
    padding-top: 200px;
    text-align: center;
    flex-direction: column-reverse;
  }
  .home div {
    width: 80%;
  }
  .home div .orange-square {
    width: 400px;
    height: 600px;
    display: block;
  }
  .home div .orange-feature {
    width: 400px;
    height: 400px;
  }
  .home div .white-circle {
    width: 290px;
    height: 290px;
  }
  .home div .grey-circle {
    width: 260px;
    height: 260px;
  }
  .home .w-40 {
    width: 60%;
    margin-top: 80px;
    padding-top: 0px;
  }
  .home .w-60 {
    justify-content: center;
  }

  /*About*/
  .latest-portfolio-code {
    flex-direction: column;
    display: block;
    width: 85%;
  }

  /*Projects*/
  .project-selector {
    display: flex;
  }
  .project-selector button {
    margin: 5px;
  }

  .then-and-now div div {
    flex-direction: column-reverse;
  }
  .then-and-now div div a, .then-and-now div div div {
    width: 80%;
  }

  /*Contact*/
  .contact .form-container {
    width: 100%;
    flex-direction: column;
  }
  .contact .form-container div div a p {
    width: 100%;
  }
  .contact .form-container form, .contact .form-container div {
    width: 100%;
    min-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .form-container {
    width: 100%;
  }
  .form-container div div a p {
    width: 100%;
  }
  .form-container form, .form-container div {
    width: 100%;
    min-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  /*Home*/
  .home {
    padding-top: 160px;
  }
  .home div {
    width: 100%;
  }
  .home div .orange-square {
    width: 300px;
    height: 600px;
  }
  .home div .orange-feature {
    width: 300px;
    height: 300px;
  }
  .home div .white-circle {
    width: 220px;
    height: 220px;
  }
  .home div .grey-circle {
    width: 190px;
    height: 190px;
  }
  .home .w-40 {
    width: 100%;
    margin-top: 20px;
  }
  .home .w-40 .welcome {
    width: 200px;
  }
  .home .w-40 h1,
.home .w-40 h3 {
    margin-bottom: 0;
  }
  .home .w-40 p {
    display: none;
  }
  .home .w-40 div a {
    font-size: 12px;
    padding-left: 10px;
    padding: 10px;
  }

  /*About*/
  .about {
    margin-right: 10px;
    margin-left: 10px;
  }
  .about .latest-portfolio-code {
    width: 100%;
  }

  /*Projects*/
  .projects .folder {
    width: 300px;
  }
  .projects .then-and-now div div a, .projects .then-and-now div div div {
    width: 100%;
  }
}
/* NAVBAR STYLES */
.menu-icon {
  background-color: white;
  width: 40px;
  height: 40px;
  z-index: 10001;
}

.mobile-menu h2 {
  z-index: 10001;
}

.navbar {
  z-index: 10000;
  background-image: linear-gradient(#303f2e, black);
}

.navbar h2 span {
  transform: rotate(20deg);
  top: -10px;
  color: #f94a1d;
}

.links a {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.links a:hover {
  background-color: #f94a1d;
}

/* HOME STYLES */
.home .w-40 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.home span {
  color: #f94a1d;
}

.welcome {
  border: 1px solid #f94a1d;
}

.hire-me {
  background-color: #f94a1d;
  border: 2px solid #f94a1d;
  cursor: pointer;
}

.explore {
  border: 1px solid white;
}

.hire-me:hover,
.explore:hover {
  background-color: white;
  border-color: #f94a1d;
  color: #f94a1d;
  transition: all 0.3s ease-in-out;
}

.orange-square {
  width: 500px;
  height: 600px;
  background: #f94a1d;
  transform-origin: center;
  transform: translate(210px, -210px) rotate(45deg);
  z-index: -1;
}

.orange-feature {
  width: 500px;
  height: 500px;
  background: #f94a1d;
  border-radius: 100%;
}

.white-circle {
  width: 390px;
  height: 390px;
  background: white;
  border-radius: 100%;
}

.grey-circle {
  width: 360px;
  height: 360px;
  background: rgb(233, 232, 232);
  border-radius: 100%;
}

/* ABOUT STYLES */
.about {
  padding-top: 100px;
}
.about h2 {
  border-bottom: 2px solid #f94a1d;
}

.skill {
  width: 330px;
  background-color: white;
  cursor: pointer;
  filter: grayscale(1);
}
.skill .skill-img {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.skill .skill-text {
  background-color: white;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.skill .skill-text p {
  border-top-left-radius: 35px;
  background-color: #f94a1d;
  bottom: -90px;
}

.skill-img:hover .skill-text {
  transition: all 1s ease-in-out;
  color: red;
}

.skill:hover {
  filter: grayscale(0);
  transition: all 0.5s ease-in-out;
}

.skill:hover .skill-text p {
  transition: all 0.5s ease-in-out;
  transform: translateY(-85px);
}

.latest-portfolio-code {
  width: 70%;
}

.latest-portfolio-code img {
  background-color: white;
}

.latest-portfolio-code h3 a {
  text-decoration: underline #f94a1d;
}

/* PROJECT STYLES */
.projects {
  padding-top: 80px;
}

.personal-projects h2 {
  text-decoration: underline #f94a1d;
}

.project-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.project-overlay h3 {
  color: rgb(255, 255, 255);
  text-decoration: underline #f94a1d;
  height: fit-content;
}

.project-icons img {
  width: 50px;
}

.bootstrap-icon {
  background-color: white;
  height: 40px;
}

.then-and-now h2 {
  text-decoration: underline #f94a1d;
}

.oldPortfolio {
  max-width: 500px;
}

.card {
  width: 300px;
  height: 300px;
  margin: 5px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #252429;
  opacity: 0;
}

.overlay:hover {
  opacity: 0.8;
  transition: all 0.6s ease-in-out;
}

.card-title {
  text-decoration: underline #f94a1d;
}

/* contact */
.contact {
  padding-top: 100px;
}
.contact .title {
  text-decoration: underline #f94a1d;
}

.contact-box {
  box-shadow: 0px 0px 15px 0px #000000;
  background-color: #252429;
  width: 300px;
}

.linkedIn-icon {
  background-color: white;
  border-radius: 9px;
  border: 1px solid white;
  cursor: pointer;
  filter: grayscale(1);
}

.linkedIn-icon:hover {
  transition: all 0.3s ease-in-out;
  filter: grayscale(0);
}

form {
  background-color: #252429;
  width: 550px;
  min-width: 400px;
  box-shadow: 0px 0px 15px 0px #000000;
}

.input-style {
  background: center;
  background-color: black;
  border: 0;
  border-bottom: 1px solid black;
}

/* footer */
.footer {
  background-image: linear-gradient(black, #303f2e);
}

/*# sourceMappingURL=index.css.map */
